.profile-wrapper{
display:flex;
justify-content:center;
margin-top:50px;
}

.profile-card{
display:flex;
width:950px;
background:white;
border-radius:10px;
box-shadow:0 6px 18px rgba(0,0,0,0.1);
overflow:hidden;
}

/* LEFT SIDE */

.profile-left{
width:30%;
background:#f6f7f9;
padding:30px;
text-align:center;
}

.profile-img{
width:140px;
height:140px;
border-radius:8px;
margin-bottom:15px;
object-fit:cover;
}

.patient-role{
color:#3498db;
font-weight:500;
}

.rating{
margin-top:10px;
font-size:16px;
}

.medical-info{
margin-top:20px;
text-align:left;
}

/* RIGHT SIDE */

.profile-right{
width:70%;
padding:35px;
}

.profile-header{
display:flex;
justify-content:space-between;
align-items:center;
}

.location{
color:#777;
font-size:14px;
}

.profile-actions .btn{
padding:8px 15px;
border:none;
border-radius:6px;
margin-left:5px;
cursor:pointer;
}

.message-btn{
background:#3498db;
color:white;
}

.contact-btn{
background:#e6f0ff;
color:#3498db;
}

.profile-section{
margin-top:25px;
}

.info-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}